%tr
  %td
    %em= movie.title
  %td= movie.rating
  %td= movie.release_date
  %td
    = button_to "Info", movie_path(movie), method: :get
    = button_to "Edit", edit_movie_path(movie.id), method: :get
    = button_to "Delete", movie_path(movie.id), method: :delete
