%h1 All Movies


= form_tag movies_path, id: :ratings_form, method: :get do
  Include: &nbsp;
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]",
    '1',
    @ratings.include?(rating) ? true : false
    &nbsp;
  &nbsp; &nbsp; 
  = submit_tag 'Refresh', id: :ratings_submit
%table#movies
  %thead
    %tr
      - 
      %th{class: ("hilite" if @sort == :title)}= link_to "Movie Title",
      params.permit.merge(sort: :title),
      id: 'title_header'
      %th Rating
      %th{class: ("hilite" if @sort == :release_date)}= link_to "Release Date",
      params.permit.merge(sort: :release_date),
      id: 'release_date_header'
      %th Action
    %tbody
      - @movies.each do |movie|
        %tr
          %td
            %em= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td
            = button_to "Info", movie_path(movie), method: :get
            = button_to "Edit", edit_movie_path(movie.id), method: :get
            = button_to "Delete", movie_path(movie.id), method: :delete
= button_to 'Add new movie', new_movie_path, method: :get
