%h1 All Movies

%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Action
    %tbody
      - @movies.each do |movie|
        %tr
          %td
            %em= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td
            = button_to "Info", movie_path(movie), method: :get
            = button_to "Edit", edit_movie_path(movie.id), method: :get
            = button_to "Delete", movie_path(movie.id), method: :delete
= button_to 'Add new movie', new_movie_path, method: :get
